* {
    font-family: "Roboto";
    color: #E5E7EB;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

img {
    width:40%;
}

p {
    font-size: 18px;
    font-weight: normal;
    color: #E5E7EB;  
}

.header,
.footer {
    display: flex;
    background-color: #1F2937;
    height: 80px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.footer{
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    color: #b9b9b9;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.container-one {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding: 80px 10%;
}

.container-two,
.container-three,
.container-four {
    display: flex;
    height: 400px;
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

#main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    max-width: 500px;
}

#main-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#main-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0;
}

#main-text p {
    font-size: 18px;
    font-weight: normal;
    color: #E5E7EB;
}

.container-two {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: white;
    height: 300px;
    padding: 80px 10%;
}

.container-two h2 {
    font-size: 24px;
    color: #1F2937;
    margin: 20px;
}

.container-two p {
    color: #1F2937;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 2rem;

}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-image {
    width: 120px;
    height: 120px;
    border: 2px solid #3882F6;
    border-radius: 12px;
}

.container-three {
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-four {
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.quote-container {
    display: flex;
    flex-direction: column;
}

#quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

#author {
    align-self: flex-end;
    font-weight: bold;
    color: black;
    font-size: 18px;
}



.notif {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 2rem 6rem;
    border-radius: 12px;
    gap: 6rem;
}

button {
    background-color: #3882F6;
    border-radius: 6px;
    color:white;
    border-color: #3882F6;
    border-style: solid;
    padding: 0.25rem 1rem;
}

.notif button {
    border-color: white;
    
}